

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container .card {
    flex-direction: column;
    margin: auto 20px;
    width: 25%;
}

.cards-container .card img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 300px;
}
.card {
    background-color : white;
    padding: 20px 10px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 20px 0px;
    text-align: center;
}
#two-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#three-cards {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
